<!DOCTYPE html>
<html>
	<head>
		<title>RookMate</title>
	</head>
	<body>
		<% if (!user) { %>
			<p>
			<a href="/">Home</a> |
			<a href="/login">Log In</a>
			</p>
		<% } else { %>
			<p>
			<a href="/">Home</a> |
			<a href="/services">Services</a> |
			<a href="/account">Account</a> |
			<a href="/logout">Log Out</a>
			</p>
		<% } %>
		<%- body %>


		<h2>Debug:</h2>
		<pre><%= JSON.stringify(session, null, 2) %></pre>
		<pre><%= JSON.stringify(user, null, 2) %></pre>
	</body>
</html>
